@model TripRoulette.Domain.Entities.Event

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("EventDetailsSave", "Admin"))
{

        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <td class="text-center">Name</td>
                <td class="text-left">@Html.TextBoxFor(model => model.Name)</td>
            </tr>
            <tr>
                <td class="text-center">Start Date</td>
                <td class="text-left">
                    @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control datepicker", placeholder = "Enter date here..." })
                    @Html.ValidationMessageFor(model => model.StartDate)
                </td>
            </tr>
            <tr>
                <td class="text-center">End Date</td>
                <td class="text-left">
                    @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control datepicker", placeholder = "Enter date here..." })
                    @Html.ValidationMessageFor(model => model.EndDate)
                </td>
            </tr>
            <tr>
                <td class="text-center">Description</td>
                <td class="text-left">@Html.TextBoxFor(model => model.Description)</td>
            </tr>
            <tr>
                <td class="text-center">Price</td>
                <td class="text-left">@Html.TextBoxFor(model => model.Price)</td>
            </tr>
            <tr>
                <td class="text-center">Lunch Price</td>
                <td class="text-left">@Html.TextBoxFor(model => model.LunchPrice)</td>
            </tr>
            <tr>
                <td class="text-center">Dinner Price</td>
                <td class="text-left">@Html.TextBoxFor(model => model.DinnerPrice)</td>
            </tr>
            <tr>
                <td class="text-center">Theme</td>
                <td class="text-left">@Html.TextBoxFor(model => model.Theme)</td>
            </tr>
            <tr>
                <td class="text-center">Post Code</td>
                <td class="text-left">@Html.TextBoxFor(model => model.Postcode)</td>
            </tr>
            <tr>
                <td class="text-center">Hint</td>
                <td class="text-left">@Html.TextBoxFor(model => model.Hint)</td>
            </tr>
            <tr>
                <td class="text-center">Full Details</td>
                <td class="text-left">@Html.TextBoxFor(model => model.FullDetails)</td>
            </tr>
            <tr>
                <td class="text-center">Duration</td>
                <td class="text-left">@Html.TextBoxFor(model => model.Duration)</td>
            </tr>
            <tr>
                <td class="text-center">Min People</td>
                <td class="text-left">@Html.TextBoxFor(model => model.MinPeople)</td>
            </tr>
            <tr>
                <td class="text-center">Max People</td>
                <td class="text-left">@Html.TextBoxFor(model => model.MaxPeople)</td>
            </tr>
        </table>

        <table>
            <tr><th>Day of Week</th>
            <th>All Day?</th>
            <th>Start Time (24h)</th>
            <th>End Time (24h)</th>
                <th>Event ID</th>
                <th>Event Details ID</th>
            </tr>
 
            @for (int i = 0; i < Model.EventDetails.Count; i++)
            {
                <tr>
                    <td>@Html.TextBoxFor(model => Model.EventDetails[i].DayOfWeek)</td>
                    <td>@Html.CheckBoxFor(model => Model.EventDetails[i].allDay)</td>
                    <td>@Html.TextBoxFor(model => Model.EventDetails[i].StartTime)</td>
                    <td>@Html.TextBoxFor(model => Model.EventDetails[i].EndTime)</td>
                    <td>@Html.TextBoxFor(model => Model.EventDetails[i].EventID)</td>
                    <td>@Html.TextBoxFor(model => Model.EventDetails[i].EventDetailID)</td>
                </tr>
            }
            <tr><td colspan="4">
                Sunday = 0,
        Monday = 1,
        Tuesday = 2,
        Wednesday = 3,
        Thursday = 4,
        Friday = 5,
        Saturday = 6,</td></tr>
            
        </table>



    <div class="panel-footer">
        <input type="submit" value="Save" class="btn btn-default" />
    </div>
}

@using (Html.BeginForm("EventDetailsAdd", "Admin"))
{
    @Html.Hidden("EventID", @Model.EventID)
    <div class="panel-footer">
        <input type="submit" value="Add Event Detail" class="btn btn-default" />
    </div>
}